$font-stack: Roboto, Arial, sans-serif;
$bg-color: #fff;
$third-color: blue;
$primary-color: #000;
$secondary-color: #777;
$my-variable: "blue", green, 5, 5px;
$my-map: ("linux":false, "windows":true)
 